{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    ["@babel/transform-runtime"],
    [
      "module-resolver", {
        "root": ["./src"],
        "alias": {
          "@lib": "./src/lib",
          "@api": "./src/api",
          "@socket": "./src/socket",
          "@views": "./src/views"
        }
    }
    ]
  ]
}
