<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <title>TEST</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="fragment" content="!" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
</head>
<body>
  <script>
    const url = 'ws://localhost:3000';
    const connection = new WebSocket(url);

    console.log('connection', connection);

    const events = {
      'open': () => console.log('CONN_OPEN'),
      'message': evt => console.log('CONN_MESSAGE', evt.data),
      'error': () => console.log('CONN_ERR'),
      'close': () => console.log('CONN_CLOSE')
    };

    Object
      .keys(events)
      .forEach(key => connection.addEventListener(key, events[key]));
  </script>
  <div id="app">
    TEST
  </div>
</body>
</html>
